.card {
  margin-top: 1.5rem; /* Adjust this value to control the space above the card */
  margin-bottom: 1.5rem;
  border-width: 12px; /* Adjust this value to control the space below the card */
}
.white-border {
  border: 3px solid white; /* Adjust the border width and color as needed */
}
.icons {
  display: inline-block;
  text-align: center;
  padding-left: 432px;
  margin-right: -307px; /* Optional for spacing between icons */
}
/* In your CSS file */

/* Custom 12px thick border */
.border-thick {
  border-width: 12px !important; /* Ensures 12px border thickness */
  border-style: solid; /* Make sure the border style is solid */
}
