i {
  cursor: pointer;
}
.navbar-brand,
.cursive {
  cursor: default;
}
.card {
  border-width: 12px;
  margin-top: 1.5rem; /* Adjust this value to control the space above the card */
  margin-bottom: 1.5rem; /* Adjust this value to control the space below the card */
}
.container {
  margin-top: 13px;
}
